.title{
    color: white;
  mix-blend-mode: difference;
}
.text{
    color: white;
  mix-blend-mode: difference;
}
.sunglasses1{
  animation: 2s up-down linear infinite;
}
.sunglasses2{
  animation: 2s up-down-reverse linear infinite;
}
.twitter, .instagram, .linkedin, .spotify, .twitch{
  transition: 1s all;
  color: rgb(207, 143, 143);
  mix-blend-mode: difference;
}
.twitter:hover, .instagram:hover, .linkedin:hover, .spotify:hover, .twitch:hover{
  transform: scale(1.05);
  color: rgb(207, 143, 143);
  mix-blend-mode: difference;
  animation: 1s big-small linear infinite;
}
.twitter svg, .instagram svg, .linkedin svg, .spotify svg, .twitch svg{
  
  width: 75px!important;
}
@keyframes big-small{
  0%{
    transform: scale(1.05);
  } 
  25%{
    transform: scale(1.1);
  }
  50%{
    transform: scale(1.15);
  }
  75%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1.05);
  }
}
@keyframes up-down {
  0%{
    transform:translateY(0%);
  } 
  25%{
    transform:translateY(10%);
  }
  50%{
    transform:translateY(0%);
  }
  75%{
    transform:translateY(-10%);
  }
  100%{
    transform:translateY(0%);
  }
}
@keyframes up-down-reverse {
  0%{
    transform:translateY(0%);
  } 
  25%{
    transform:translateY(-10%);
  }
  50%{
    transform:translateY(0%);
  }
  75%{
    transform:translateY(10%);
  }
  100%{
    transform:translateY(0%);
  }
}
@media(max-width: 1500px){
  .title{
    font-size: 25px;
    line-height: 70px;
}
.text{
    font-size: 15px;
    padding: 0 20px ;
}
}
@media(max-width: 850px){
    .title{
      display: inline-flex;
      font-size: 22.5px;
      line-height: 20px;
      align-items: center;
    }
    .text{
      font-size: 12.5px;
        padding: 0;
    }
    .twitter, .instagram, .linkedin, .spotify, .twitch{
      flex: 0 0 auto;
      width: 20%;
    }
    .twitter svg, .instagram svg, .linkedin svg, .spotify svg, .twitch svg{
  
      width: 40px!important;
    }
}
