.title{
    color: white;
  mix-blend-mode: difference;
}
.text{
    color: white;
  mix-blend-mode: difference;
}
@media(max-width: 850px){
    .title{
        font-size: 25px;
    }
    .text{
        font-size: 15px;
    }
}
