.card-container{
    margin: 25px;
    width: 200px;
    height: 175px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px #cc0d0d;
    transition: 0.3s ease-in-out;
    animation: ease-in;
    border-radius: 15%;
}

.card-container:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 0px #cc0d0d;
    cursor: pointer;
}
.card-container .content{
    padding: 10px;
}
.title-container{
    position: relative;
    margin-top: 10px;
    color: #ED9810;
    font-weight:900;
    text-shadow: 0px 0px 3px #000;
}
.card-container:hover .title-container{
    color: white;
    -webkit-text-stroke: .5px #ED9810;
}
.title-container h3{
    font-size: 20px;
    margin-bottom: 0;
    transition: 0.3s ease-in-out;
}
.card-container:hover .title-container h3{
    font-size: 25px;
}
.title-container p{
    font-size: 15px;
    transition: 0.3s ease-in-out;
}
.card-container:hover .title-container p{
    font-size: 20px;
}
.image-container{
    overflow: hidden;
    height: 150px;
}
.button button{
    font-size: 13px;
}
.button button:hover{
    background: rgba(27,156, 252, 0.1);
}

.button a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;

}
@media(max-width: 1500px){
    .card-container{
        width: 150px;
        height: 125px;
    }
    .title-container h3{
        font-size: 15px;
        margin-bottom: 0;
    }
    .card-container:hover .title-container h3{
        font-size: 17px;
    }
    .title-container p{
        font-size: 10px;
    }
    .card-container:hover .title-container p{
        font-size: 12px;
    }
}