.cards{
  display: flex;
  flex-basis: 33.333333%;
  flex-wrap: wrap;
}
.title{
    color: white;
  mix-blend-mode: difference;
  font-size: 35px;
}
.text{
    color: white;
  mix-blend-mode: difference;
  padding: 0 200px;
  font-size: 20px;
}
.link{
  text-decoration: none;
}
.jordon{
  background-image: url("./pics/card-images/jordon.jpeg");
  background-size: cover;
  background-position: center;

}
.las-muchachos{
  background-image: url("./pics/card-images/las-muchachos.jpg");
  background-size: cover;
  background-position: center;
}
.jeffrey{
  background-image: url("./pics/card-images/jeffrey.jfif");
  background-size: cover;
  background-position: center;
}
.space-raiders{
  background-image: url("./pics/card-images/space-raiders.PNG");
  background-size: cover;
  background-position: center;
}
.my-video-game-list{
  background-image: url("./pics/card-images/my-video-game-list.jpg");
  background-size: cover;
  background-position: center;
}
.globe{
    animation: 4s App-logo-spin linear infinite;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
@media(max-width: 1500px){
  .title{
    font-size: 25px;
    line-height: 70px;
}
.text{
    font-size: 15px;
    padding: 0 20px ;
}
}
@media(max-width: 850px){
  
    .title{
      display: inline-flex;
      font-size: 22.5px;
      line-height: 20px;
      align-items: center;
    }
    .text{
        font-size: 12.5px;
        padding: 0 20px ;
    }
}
