.cards{
  display: flex;
  flex-basis: 33.333333%;
  flex-wrap: wrap;
}
.title{
    color: white;
  mix-blend-mode: difference;
  font-size: 35px;
}
.text{
    color: white;
  mix-blend-mode: difference;
  padding: 0 200px;
  font-size: 20px;
}
.link{
  text-decoration: none;
}
.jordon{
  position: relative;
}
.jordon::before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.75;
  background-image: url("./pics/card-images/jordon.jpeg");
  background-size: cover;
  background-position: center;
  transition: .3s ease-in-out;
}
.jordon:hover::before{
  opacity: 1;
}
.las-muchachos{
  position: relative;
}
.las-muchachos::before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.75;
  background-image: url("./pics/card-images/las-muchachos.jpg");
  background-size: cover;
  background-position: center;
  transition: .3s ease-in-out;
}
.las-muchachos:hover::before{
  opacity: 1;
}
.jeffrey{
  position: relative;
}
.jeffrey::before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.75;
  background-image: url("./pics/card-images/jeffrey.jfif");
  background-size: cover;
  background-position: center;
  transition: .3s ease-in-out;
}
.jeffrey:hover::before{
  opacity: 1;
}
.space-raiders{
  position: relative;
}
.space-raiders::before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.75;
  background-image: url("./pics/card-images/space-raiders.PNG");
  background-size: cover;
  background-position: center;
  transition: .3s ease-in-out;
}
.space-raiders:hover::before{
  opacity: 1;
}
.my-video-game-list{
  position: relative;
}
.my-video-game-list::before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.75;
  background-image: url("./pics/card-images/my-video-game-list.jpg");
  background-size: cover;
  background-position: center;
  transition: .3s ease-in-out;
}
.my-video-game-list:hover::before{
  opacity: 1;
}
.diary-of-a-wimpy-kid{
  position: relative;
}
.diary-of-a-wimpy-kid::before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.75;
  background-image: url("./pics/card-images/diary-of-a-wimpy-kid.webp");
  background-size: cover;
  background-position: center;
  transition: .3s ease-in-out;
}
.diary-of-a-wimpy-kid:hover::before{
  opacity: 1;
}
.globe{
    animation: 4s App-logo-spin linear infinite;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
@media(max-width: 1500px){
  .title{
    font-size: 25px;
    line-height: 70px;
}
.text{
    font-size: 15px;
    padding: 0 20px ;
}
}
@media(max-width: 850px){
  
    .title{
      display: inline-flex;
      font-size: 22.5px;
      line-height: 20px;
      align-items: center;
    }
    .text{
        font-size: 12.5px;
        padding: 0 20px ;
    }
}
