.home{
    display: flex;
    flex-flow: column;
    /* height: 100%; */
    background-color:#14C2CC;
		background-image: 
		radial-gradient(circle farthest-side at top right, transparent, #0D64FF), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #FF00A0);
		animation:bg-change 10s infinite;
}
.home .E, .R, .I, .C{
  white-space: nowrap;
  overflow: hidden;
  margin: 70px 0 30px 0;
  
}
/* .home .E.active, .R.active, .I.active, .C.active{
    animation: type 4s steps(60, end);
    
} */
.home .EletterCards, .RletterCards, .IletterCards, .CletterCards{
    display: none;
    /* opacity: 0; */
}
/* .home .EletterCards.active, .RletterCards.active, .IletterCards.active, .CletterCards.active{
    opacity: 1;
    display: block;
    
} */


.name-container{
    /* height: 100%; */
    width: 100%;
    font-family: 'Syne', sans-serif;
    font-size: 3em;
    /*background-color: #d6834f;*/
    padding: 80px 0;

}

.name-container h1{
    margin: 0;
}
.name-container .first-name{
    background-image: url("https://media-exp1.licdn.com/dms/image/C4E03AQFkl5Xkgi1Sxg/profile-displayphoto-shrink_400_400/0/1621527330238?e=1641427200&v=beta&t=ElACyT-wELYvbDBHwmB9EGDYXh0nssoAzVvJyP_c-EM");
    background-repeat: repeat;
    font-size: 4em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container .cards{
    display: flex;
}
@keyframes bg-change {
	0%, 100% {
		filter:hue-rotate(0deg);
	}
	50% {
		filter:hue-rotate(-45deg);
	}
}
@keyframes shifting-color{
    0% {
        background-color: #550403;
    }

    30% {
        background-color: #3b0404;
    }

    60% {
        background-color: #330909;
    }

    90% {
        background-color: #5a0f05;
    }

    100% {
        background-color: #550403;
    }
}
@keyframes shifting-text-color{
    0% {
        color: #2e2e2c;
    }

    30% {
        color: #454442;
    }

    60% {
        color: #73726e;
    }

    90% {
        color: #5c5b58;
    }

    100% {
        color: #2e2e2c;
    }
}
@keyframes type{ 
    /* from { max-width: 3%; }
    to{ max-width: 100%;}  */
    0%{
        width: 0em;
    }
    100%{
        width: 13em;
    }
  } 

@keyframes reverseType{
    0%{
        width: 13em;
    }
    100%{
        width: 0em;
    }
}
@media(max-width: 850px){
    .name-container{
        /* height: 100%; */
        width: 100%;
        font-family: 'Syne', sans-serif;
        font-size: 3em;
        /*background-color: #d6834f;*/
        /* padding: 112px 0; */
        margin-bottom: 10px;
    }
    
    .home .E, .R, .I, .C{
        margin-top: 85px;
        font-size: 31px;
      }

}