.title{
  color: white;
mix-blend-mode: difference;
font-size: 35px;
padding: 0 10px;
}
.text{
  color: white;
mix-blend-mode: difference;
padding: 0 200px;
font-size: 20px;
}
.lightbulb1{
  animation: 2s tilt linear infinite
}
.lightbulb2{
  animation: 2s tilt-reverse linear infinite
}
.github{
  background-image: url("./pics/card-images/github.png");
  background-size: cover;
  background-position: center;

}
.gitlab{
  background-image: url("./pics/card-images/gitlab.png");
  background-size: cover;
  background-position: center;

}
.itch{
  background-image: url("./pics/card-images/itch.png");
  background-size: cover;
  background-position: center;

}
@keyframes tilt{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(-30deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(30deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
@keyframes tilt-reverse{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(30deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-30deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
@media(max-width: 1500px){
  .title{
    font-size: 25px;
    line-height: 70px;
}
.text{
    font-size: 15px;
    padding: 0 20px ;
}
}
@media(max-width: 850px){
    .title{
      display: inline-flex;
      font-size: 22.5px;
      line-height: 20px;
      align-items: center;
    }
    .text{
      font-size: 12.5px;
    }
}
