.title{
    color:aliceblue;
    
  mix-blend-mode: difference;
}
.text{
    
    color:aliceblue;
    
  mix-blend-mode: difference;
}
.mail1{
    animation: 2s shaky linear infinite;
}
.mail2{
  animation: 2s shaky-reverse linear infinite;
}

.form .form-label{
    color: white;
    mix-blend-mode: difference;
    margin-right: 25px;
    font-size: 25px;
}
.form .message-label{
    margin-top: 30px;
    color: white;
    mix-blend-mode: difference;
    font-size: 25px;
}
.form .form-message-input{
    /* color: white; */
    -webkit-text-stroke: .5px black;
    mix-blend-mode: difference;
    background-color: white;
    animation:bg-change 10s infinite;
    font-size: 25px;
    width: 800px;
    height: 300px;
    padding: 20px;
}
.form .form-input{
    border: 0;
    font-size: 25px;
    width: 700px;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  color: white;
  mix-blend-mode: difference;
    
    margin-bottom: 20px;
}
.form .button{
    /* background-color: #23c923; */
    mix-blend-mode: difference;
    border-radius: 50%;
    height: 95px;
  width: 95px;
    
    border-color: white;
    box-shadow: 0 0px 20px 0px white;
    font-size: 20px;
    transition: background-color 1s ease-in-out, mix-blend-mode 1s ease-in-out, bos-shadow 1s ease-in-out, width 1s ease-in-out, height 1s ease-in-out, transform .25s ease-in-out
}
.form .button:hover{
  transform: scale(1.05);
}
.form .button.correct{
  background-color: #5ecb5e;
  border-color: #3bca3b;
  color: #ffffff;
  font-size: 20px;
  height: 60px;
  width: 60px;
  padding: 0 20px;
  mix-blend-mode:initial;
  box-shadow: 0 0px 20px 0px #22b122;
}
.form .button.incorrect{
  background-color: #ad0000;
  border-color: #8d1d1d;
  height: 60px;
  width: 60px;
  color: #ffffff;
  font-size: 20px;
  padding: 0 20px;
  mix-blend-mode:initial;
  box-shadow: 0 0px 20px 0px #660000;
}

@keyframes shaky{
  0%{
    transform:translateX(0%);
  } 
  25%{
    transform:translateX(12.5%);
  }
  50%{
    transform:translateX(0%);
  }
  75%{
    transform:translateX(-12.5%);
  }
  100%{
    transform:translateX(0%);
  }

  }
  @keyframes shaky-reverse{
    0%{
      transform:translateX(0%);
    } 
    25%{
      transform:translateX(-12.5%);
    }
    50%{
      transform:translateX(0%);
    }
    75%{
      transform:translateX(12.5%);
    }
    100%{
      transform:translateX(0%);
    }
  }
  @media(max-width: 1500px){
    .title{
      font-size: 25px;
      line-height: 70px;
  }
  .text{
      font-size: 15px;
      padding: 0 20px ;
  }
  }
@media(max-width: 850px){
    .title{
      display: inline-flex;
      font-size: 22.5px;
      line-height: 20px;
      align-items: center;
    }
    .text{
        font-size: 12.5px;
        padding: 0 20px ;
    }
    .form .form-label{
        margin-right: 5px;
        font-size: 20px;
    }
    .form .message-label{
        margin-top: 30px;
        color: white;
        mix-blend-mode: difference;
        font-size: 20px;
    }
    .form .form-message-input{
        width: 300px;
        height: 200px;
        padding: 20px;
        font-size: 20px;
    }
    .form .form-input{
        border: 0;
        font-size: 20px;
        width: 225px;
      outline: 0;
      background: transparent;
      border-bottom: 1px solid white;
      color: white;
      mix-blend-mode: difference;
        
        margin-bottom: 20px;
    }
    .form .button{
        color: black;
        background-color: white;
        /* mix-blend-mode: difference; */
        border-radius: 50%;
        height: 70px;
        width: 70px;
        border-color: white;
        box-shadow: 0 0px 20px 0px white;
        font-size: 10px;
    }
    .form .button.correct{
      background-color: #5ecb5e;
      border-color: #3bca3b;
      color: #ffffff;
      font-size: 20px;
      height: 60px;
      width: 60px;
      padding: 0 20px;
      mix-blend-mode:initial;
      box-shadow: 0 0px 20px 0px #22b122;
    }
    .form .button.incorrect{
      height: 60px;
    width: 60px;
      color: #ffffff;
      font-size: 15px;

    }
}
